{% extends "base.html" %} 
{% block title %}Test{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
 
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Class Schedule</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Time Slots</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                {% for time_slot_index in range(time_slots | length) %}
                <tr>
                    <td>{{ time_slots[time_slot_index] }}</td>
                    <td>{{ schedules[0][time_slot_index] }}</td>
                    <td>{{ schedules[1][time_slot_index] }}</td>
                    <td>{{ schedules[2][time_slot_index] }}</td>
                    <td>{{ schedules[3][time_slot_index] }}</td>
                    <td>{{ schedules[4][time_slot_index] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
